*.[bB][iI][nN] binary
*.[aA][xX][dD][tT] binary
*.[aA][dD][dD][iI][nN] binary
*.[bB][mM][pP] binary
*.[jJ][pP][gG] binary
*.[zZ][iI][pP] binary
*.[pP][nN][gG] binary
*.[cC][fF] binary
*.[gG][iI][fF] binary
*.[sS][vV][gG] binary
